name: Baixando TODO

on:
  schedule:
    - cron: '0 */6 * * *'  # Executa a cada 6 horas
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          python -m pip install --no-cache-dir git+https://github.com/guiworldtv2/allfinder.git

      - name: Verificar versão do Python
        run: python --version

      - name: Rodar script ama.py
        run: python ama.py

      - name: Commit e Push se houver alterações
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add -A
          git diff --quiet && git diff --staged --quiet || git commit -m "Atualizar lista automaticamente"
          git push
